@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Quicksand-Regular"), 
  url("../fonts/Montserrat-Regular.woff2") format("woff2"),
  url("../fonts/Montserrat-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-style: normal;
  src: local("Montserrat-SemiBold"), 
  url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
  url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Black";
  font-weight: 900;
  font-style: normal;
  src: local("Montserrat-Black"), 
  url("../fonts/Montserrat-Black.woff2") format("woff2"),
  url("../fonts/Montserrat-Black.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Spectral-Medium";
  font-weight: 500;
  font-style: normal;
  src: local("Spectral-Medium"), 
  url("../fonts/Spectral-Medium.woff2") format("woff2"),
  url("../fonts/Spectral-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SpectralSC-Medium";
  font-weight: 500;
  font-style: normal;
  src: local("Spectral-Medium"), 
  url("../fonts/SpectralSC-Medium.woff2") format("woff2"),
  url("../fonts/SpectralSC-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SpectralSC-SemiBold";
  font-weight: 500;
  font-style: normal;
  src: local("Spectral-Medium"), 
  url("../fonts/SpectralSC-Medium.woff2") format("woff2"),
  url("../fonts/SpectralSC-Medium.woff") format("woff");
  font-display: swap;
}